@import '~@angular/material/theming';
@import '~pip-webui2-themes/src/styles.scss';
@include mat-core();
@mixin picture-mixin($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
     :host {
        border: dashed 2px mat-color($foreground, divider);
        .pip-add-image .delete-button {
            color: mat-color($foreground, text);
            background: mat-color($background, card);
            opacity: 0.56;
        }
    }
}

.unicorn-dark-theme {
    @include picture-mixin($dark-theme);
}

.candy-theme {
    @include picture-mixin($candy-app-theme);
}

.pip-blue-theme {
    @include picture-mixin($pip-blue-theme);
}

.pip-grey-theme {
    @include picture-mixin($pip-grey-theme);
}

.pip-navy-theme {
    @include picture-mixin($pip-navy-theme);
}

.pip-amber-theme {
    @include picture-mixin($pip-amber-theme);
}

.pip-green-theme {
    @include picture-mixin($pip-green-theme);
}

.pip-orange-theme {
    @include picture-mixin($pip-orange-theme);
}

.pip-pink-theme {
    @include picture-mixin($pip-pink-theme);
}

.pip-dark-theme {
    @include picture-mixin($pip-dark-theme);
}

.pip-black-theme {
    @include picture-mixin($pip-black-theme);
}

.bootbarn-warm-theme {
    @include picture-mixin($bootbarn-warm-theme);
}

.bootbarn-cool-theme {
    @include picture-mixin($bootbarn-cool-theme);
}

.bootbarn-mono-theme {
    @include picture-mixin($bootbarn-mono-theme);
}

:host {
    width: 80px;
    height: 80px;
    display: block;
    box-sizing: content-box;
    .pip-add-image {
        position: relative;
        display: block;
        .delete-button {
            position: absolute;
            top: 4px;
            right: 4px;
        }
    }
}