<p>1 {{ 'EXAMPLES.ITEM' | translate }}</p>
<pip-collage [srcs]="images1"></pip-collage>
<p>2 {{ 'EXAMPLES.ITEMS' | translate }}</p>
<pip-collage [srcs]="images2"></pip-collage>
<p>3 {{ 'EXAMPLES.ITEMS' | translate }}</p>
<pip-collage [srcs]="images3"></pip-collage>
<p>4 {{ 'EXAMPLES.ITEMS' | translate }}</p>
<pip-collage [srcs]="images4"></pip-collage>
<p>5 {{ 'EXAMPLES.ITEMS_MORE_THAN_4' | translate }}</p>
<pip-collage [srcs]="images5"></pip-collage>
<p>6 {{ 'EXAMPLES.ITEMS_MORE_THAN_4' | translate }}</p>
<pip-collage [srcs]="images6"></pip-collage>
<p>7 {{ 'EXAMPLES.ITEMS_MORE_THAN_4' | translate }}</p>
<pip-collage [srcs]="images7"></pip-collage>
<p>8 {{ 'EXAMPLES.ITEMS_MORE_THAN_4' | translate }}</p>
<pip-collage [srcs]="images8"></pip-collage>
<p>10 {{ 'EXAMPLES.ITEMS_MORE_THAN_4'| translate }}</p>
<pip-collage [srcs]="images10"></pip-collage>