<mat-card>
  <p>{{ 'EXAMPLES.EMPTY_STATES' | translate }}</p>
  <pip-picture resize="false" class="square-xl rounded" defaultIcon="tag_faces" backgroundColor="#E53935"
               foregroundColor="#FFFFFF" foregroundColorOpacity="1">
  </pip-picture>
  <pip-picture resize="false" class="square-xl" backgroundColor="#29B6F6" foregroundColor="#000000"
               foregroundColorOpacity="0.74"></pip-picture>
  <pip-picture resize="false" class="square-l rounded" defaultIcon="tag_faces"></pip-picture>
  <pip-picture resize="false" class="square-l" defaultIcon="group"></pip-picture>
  <pip-picture resize="false" class="square-m rounded" defaultIcon="person"></pip-picture>
  <pip-picture resize="false" class="square-m"></pip-picture>
  <pip-picture resize="false" class="square-s rounded" defaultIcon="mood"></pip-picture>
  <pip-picture resize="false" class="square-s" defaultIcon="person_outline"></pip-picture>

  <p>{{ 'EXAMPLES.WITH_SOURCE_FILES' | translate }}</p>
  <pip-picture resize="false" class="square-xl" src="https://i.pinimg.com/736x/da/af/73/daaf73960eb5a21d6bca748195f12052--lion-photography-lion-kings.jpg"></pip-picture>
  <pip-picture resize="false" class="square-xl" backgroundColor="#2196F3" src="./assets/boy.png"></pip-picture>
  <pip-picture resize="false" class="square-l rounded" backgroundColor="#81C784" src="./assets/boy.png" defaultIcon="tag_faces"></pip-picture>
  <pip-picture resize="false" class="square-l" backgroundColor="#4DB6AC" defaultIcon="group" src="./assets/girl2.png"></pip-picture>
  <pip-picture resize="false" class="square-m rounded" defaultIcon="person" src="./assets/boy2.png"></pip-picture>
  <pip-picture resize="false" class="square-m" src="./assets/girl.png"></pip-picture>
  <pip-picture resize="false" class="square-s rounded" defaultIcon="mood" backgroundColor="#E1BEE7" src="https://marketplace.canva.com/MAB2sr5s7Q8/1/thumbnail/canva-business-people-design-person-icon--MAB2sr5s7Q8.png"></pip-picture>
  <pip-picture resize="false" class="square-s" defaultIcon="person_outline" backgroundColor="#DCE775" src="https://marketplace.canva.com/MAB2si1vbe4/1/thumbnail/canva-business-people-design-person-icon--MAB2si1vbe4.png"></pip-picture>

  <p>{{ 'EXAMPLES.WITH_LETTER_ICON' | translate }}</p>
  <pip-picture resize="false" class="square-xl rounded" letterIcon="T"></pip-picture>
  <pip-picture resize="false" class="square-xl" backgroundColor="#2196F3" letterIcon="I"></pip-picture>
  <pip-picture resize="false" class="square-l rounded" backgroundColor="#81C784" letterIcon="T"></pip-picture>
  <pip-picture resize="false" class="square-l" backgroundColor="#4DB6AC" letterIcon="G"></pip-picture>
  <pip-picture resize="false" class="square-m rounded" letterIcon="Y"></pip-picture>
  <pip-picture resize="false" class="square-m" letterIcon="A"></pip-picture>
  <pip-picture resize="false" class="square-s rounded" backgroundColor="#E1BEE7" letterIcon="Z"></pip-picture>
  <pip-picture resize="false" class="square-s" backgroundColor="#DCE775" letterIcon="S"></pip-picture>

  <p>{{ 'EXAMPLES.WITH_BAD_SOURCE' | translate }}</p>
  <pip-picture resize="false" class="square-xl rounded" src="https://stackoverflow.com/bad_image.jpg" letterIcon="T"></pip-picture>
  <pip-picture resize="false" class="square-xl" backgroundColor="#2196F3" src="https://stackoverflow.com/bad_image.jpg" defaultIcon="group"></pip-picture>
  <pip-picture resize="false" class="square-l rounded" backgroundColor="#81C784" src="https://stackoverflow.com/bad_image.jpg" letterIcon="T"></pip-picture>
  <pip-picture resize="false" class="square-l" backgroundColor="#4DB6AC" src="https://stackoverflow.com/bad_image.jpg" defaultIcon="person"></pip-picture>
  <pip-picture resize="false" class="square-m rounded" src="https://stackoverflow.com/bad_image.jpg" defaultIcon="tag_faces"></pip-picture>
  <pip-picture resize="false" class="square-m" src="https://stackoverflow.com/bad_image.jpg" letterIcon="A"></pip-picture>
  <pip-picture resize="false" class="square-s rounded" src="https://stackoverflow.com/bad_image.jpg" backgroundColor="#E1BEE7" letterIcon="Z"></pip-picture>
  <pip-picture resize="false" class="square-s" src="https://stackoverflow.com/bad_image.jpg" backgroundColor="#DCE775" defaultIcon="mood"></pip-picture>

</mat-card>