<mat-button-toggle-group class="pip-button-toggle-group">
  <mat-button-toggle fxFlex="fill" value="goal" style="text-align: center">
    <!--mat-icon>format_align_left</mat-icon-->
    Goal
  </mat-button-toggle>
  <mat-button-toggle fxFlex="fill" value="dream" style="text-align: center">
    <!--mat-icon>format_align_center</mat-icon-->
    Dream
  </mat-button-toggle>
  <mat-button-toggle fxFlex="fill" value="task" style="text-align: center">
    <!--mat-icon>format_align_right</mat-icon-->
    Task
  </mat-button-toggle>
  <mat-button-toggle fxFlex="fill" value="area" disabled style="text-align: center">
    <!--mat-icon>format_align_justify</mat-icon-->
    Area
  </mat-button-toggle>
</mat-button-toggle-group>
