<p>1 item</p>
<pip-collage [srcs]="images1"></pip-collage>
<p>2 items</p>
<pip-collage [srcs]="images2"></pip-collage>
<p>3 items</p>
<pip-collage [srcs]="images3"></pip-collage>
<p>4 items</p>
<pip-collage [srcs]="images4"></pip-collage>
<p>5 items</p>
<pip-collage [srcs]="images5"></pip-collage>
<p>6 items</p>
<pip-collage [srcs]="images6"></pip-collage>
<p>7 items</p>
<pip-collage [srcs]="images7"></pip-collage>
<p>8 items</p>
<pip-collage [srcs]="images8"></pip-collage>
<p>10 items</p>
<pip-collage [srcs]="images10"></pip-collage>