:host {
    height: 300px;
    display: block;
    .mat-grid-list {
        margin: 8px 0;
        .mat-grid-tile {
            .pip-picture {
                width: 100%;
                height: 100%;
            }
        }
    }
}