@import '~@angular/material/theming';
@import '~pip-webui2-themes/src/styles.scss';
@include mat-core();
@mixin picture-list-edit-mixin($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
     :host div>div:focus pip-picture {
        outline: solid 2px mat-color($foreground, text);
    }
     :host div>div .delete-button {
        color: mat-color($foreground, text);
        background: mat-color($background, card);
        opacity: 0.56;
    }
     :host div>pip-picture-edit:focus {
        border-color: mat-color($foreground, text);
    }
}

.unicorn-dark-theme {
    @include picture-list-edit-mixin($dark-theme);
}

.candy-theme {
    @include picture-list-edit-mixin($candy-app-theme);
}

.pip-blue-theme {
    @include picture-list-edit-mixin($pip-blue-theme);
}

.pip-grey-theme {
    @include picture-list-edit-mixin($pip-grey-theme);
}

.pip-navy-theme {
    @include picture-list-edit-mixin($pip-navy-theme);
}

.pip-amber-theme {
    @include picture-list-edit-mixin($pip-amber-theme);
}

.pip-green-theme {
    @include picture-list-edit-mixin($pip-green-theme);
}

.pip-orange-theme {
    @include picture-list-edit-mixin($pip-orange-theme);
}

.pip-pink-theme {
    @include picture-list-edit-mixin($pip-pink-theme);
}

.pip-dark-theme {
    @include picture-list-edit-mixin($pip-dark-theme);
}

.pip-black-theme {
    @include picture-list-edit-mixin($pip-black-theme);
}

.bootbarn-warm-theme {
    @include picture-list-edit-mixin($bootbarn-warm-theme);
}

.bootbarn-cool-theme {
    @include picture-list-edit-mixin($bootbarn-cool-theme);
}

.bootbarn-mono-theme {
    @include picture-list-edit-mixin($bootbarn-mono-theme);
}

:host {
    div {
        >div,
        >pip-picture-edit {
            display: inline-block;
        }
        >div {
            &:focus {
                outline: none;
            } 
            margin-right: 8px;
            margin-bottom: 8px;
            position: relative;
            .delete-button {
                position: absolute;
                top: 4px;
                right: 4px;
            }
        }
    }
}